# Copia este archivo como: application.properties
# y rellena con tus credenciales reales

app.mail.enabled=true
app.mail.from=TuNombre <tu@email.com>
spring.mail.host=smtp-relay.brevo.com
spring.mail.port=587
spring.mail.username=TU_LOGIN_BREVO@smtp-brevo.com
spring.mail.password=TU_CLAVE_SMTP_BREVO
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
